body {

    background-size: cover; 
    min-height: 100vh;
    margin: 0; 
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    display: block;
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
 height: 55px;
 transition: 0.3s ease;
 margin-right: auto;
}


.logo:hover {
    transform: translateX(10px) scale(1.05); /* ขยับ + ขยาย */
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

nav {
    background-color: #333;
    height: 70px;
    width: 100%;
}

.containerbar {
    width: 100%;
    height: 100%;
    padding: 0 20px; /* เว้นขอบนิดเดียว ดูสวย */
}



.nav-con {
    display: flex;
    align-items: center;            /* กลางแนวตั้ง */
    padding: 0%;
    height: 100%;
    
}



.logo:hover {
    transform: scale(1.05);
}

.menu {
    margin: 0 auto;
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

/* เส้นใต้เวลา hover */
.menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #4ade80;
    transition: 0.3s;
}

.menu li a:hover::after {
    width: 100%;
}



