

.top-right-buttons {
  margin-left: auto;
  display: flex;
  gap: 10px;   /* ระยะห่างระหว่างปุ่ม */
}

.btn1 {
  background: #bbbbbb;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.1s ease;
  border: none;
}

.btn1:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn1:active {
  background: #bbbbbb;          /* สีเข้มลง */
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  transform: translateY(2px);   /* ดูเหมือนยุบลง */
}

.btn2 {
  background: #d22626;
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.1s ease;
  border: none;
}

.btn2:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn2:active {
  background: #d22626;          /* สีเข้มลง */
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  transform: translateY(2px);   /* ดูเหมือนยุบลง */
}

/* พื้นหลังป็อปอัป */
.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

/* กล่องป็อปอัป */
.popup-content {
    background: white;
    padding: 30px;
    width: 340px;
    height: 590px;
    border-radius: 20px;
    position: relative;
}

.golo {
    width: 80px;
    position: absolute;
    top: -40px;           /* ดันโลโก้บนป้อบอั้บ */
    left: 50%;
    transform: translateX(-50%);
}
.popup-content h2 {
    text-align: center;
    margin-bottom: 15px;
}

.name-row {
    display: flex;
    gap: 10px;          /* ระยะห่างระหว่างช่อง */
}

.name-field {
    flex: 1;            /* ให้กว้างเท่ากัน */
}

.name-field input {
    width: 140px;
}
.name-above input {
    width: 170px;
}
.name-above1 input {
    width: 340px;
}

.name-above {
  text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

label {
    font-size: 14px;
    display: block;
    margin-top: 10px ;
}

input {
    width: 140px;
    padding: 14px;
    margin: 10px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 14px;

}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #cb0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}



/* พื้นหลังป็อปอัป */
.popup2 {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

/* กล่องป็อปอัป */
.popup2-content {
    background: white;
    padding: 30px;
    width: 380px;
    height: 480px;
    border-radius: 20px;
    position: relative;
}
.popup2-content h2 {
    text-align: center;
    margin-bottom: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #cb0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/********* Slider CSS Starts **********/
.slider img {
  width: 100%;
  height: 350px;
}
/********* Slider CSS End **********/
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 30px auto 0;
  padding: 0 20px;
}

/* GRID 2 ต่อ 1 แถว */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}


/* CARD */
.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform .2s ease, box-shadow .2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

.card img {
  width: 100%;
  display: block;
}

.card-body {
  padding: 20px;
}

.card-body h3 {
  margin: 0 0 5px;
}

.card-body p {
  color: #777;
  margin: 0 0 15px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


