
.container {
    background: rgba(255, 255, 255, 0.9); /* โปร่งนิด ๆ */
    width: 800px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

sss
.container {
    background: #fff;
    width: 800px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.input-group {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #574fd6;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #6c63ff;
    color: white;
}



tr:nth-child(even) {
    background: #f5f5f5;
}

.delete {
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.delete:hover {
    background: #e63e3e;
}
